.email-input
  height 100%
  border 1px solid #C3C2CF
  background: #ffffff
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-content flex-start
  align-items flex-start
  padding: 8px 7px
  overflow: auto;

  &__tag
    margin-right 8px
    margin-bottom 8px

  &__input
    font-size 14px
    border none
    line-height 24px
    padding 0 10px