@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "email-input.styl"
@import "tag.styl"

$borderRadius = 8px

*
  box-sizing: border-box
  outline none

body
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: normal;

.popup
  width 500px
  height  300px
  border-radius $borderRadius
  box-shadow 0 8px 20px rgba(0, 0, 0, 0.2)

  &__body
    height 70%
    padding: 32px 50px;
    background: #F8F8F7;
    display flex
    flex-direction column
    flex-wrap nowrap
    justify-content flex-start
    align-content flex-start
    align-items: stretch
    border-radius $borderRadius $borderRadius 0 0

  &__footer
    height: 30%
    border-radius 0 0 $borderRadius $borderRadius
    padding: 32px 50px;


.title
  font-size: 20px
  margin-bottom: 24px
  &_bold
    font-weight bold

.button
  border none
  background #4262FF
  border-radius 6px
  color #ffffff
  font-size 14px
  padding 8px 16px