.tag
  font-size 14px
  line-height 24px
  background rgba(102, 153, 255, 0.2)
  border-radius: 100px
  padding 0 10px

  &_invalid
    background transparent
    border-bottom 1px dashed red
    border-radius 0
    padding 0

  &__close
    margin-left: 8px;
    font-size: 10px;
    cursor: pointer;
    background: url("../assets/remove.svg");
    width: 8px;
    height: 8px;
    display: inline-block;